
header {
    position: relative; /* Asegura que los elementos hijos usen la posición relativa a este contenedor */
  }
  
header img{
    max-height: 60px; /* Ajusta la altura máxima según la altura de tu barra de navegación */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: auto; /* Centra la imagen horizontalmente */
}

.img-fluid{
  max-width: 100%;
  height: auto;
}